@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #22242A;
}

#header {
    width: 100%;
    height: 200px;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav .navlogo img {
    width: 60px;
    margin-left: 20px;
    margin-top: 10px;

}

#nav .list ul {
    display: flex;

}

#nav .list ul li {
    display: flex;
}

#nav .list ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0px 20px;
    font-size: 20px;
    font-family: Roboto;
}

#nav .list ul li a:hover {
    color: #22242A;
    border: 1px solid #22242A;
    border-radius: 8px;
    background-color: #fff;
}

#header .hide i {
    color: #fff;
    display: none;
    font-size: 20px;
}

@media only screen and (max-width:420px) {
    #header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #nav .list ul li a {
        display: none;
        color: silver;

    }

    #header .hide i {
        display: block;
        font-size: 20px;
        color: SILVER;
        position: relative;
        left: -20px;
    }
}

@media only screen and (max-width:560px) {
    #nav .list ul li a {
        font-size: 14px;
        padding: 0px 10px;
    }
}

.heading {
    width: 100%;
    height: 100px;
}

.heading p {
    text-align: center;
    color: #fff;
    font-family: Roboto;
    font-size: 45px;
}

.heading span {
    font-weight: 800;
}

.btn {
    text-align: center;
}

.btn button {
    border-radius: 60px;
    border: 2px solid #fff;
    cursor: pointer;
    width: 150px;
    height: 50px;
    padding: 5px 26px;
    align-items: center;
    background: var(--gradient-red-gradient-8, linear-gradient(90deg, #CC2B5E 0%, #753A88 100%));
    color: #fff;
}
.carimg img{
    width: 60%;
    position: relative;
    left: 250px;
    top: 60px;
}   
#main{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -150px;

}
#main .tp {
    position: relative;
    left: 60px;
}
#main .op{
    position: relative;
    left: -40px;
}
#main .tp p1{
    color: red;
    font-size: 20px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}
#main .tp p2{
    color: #fff;
    font-weight: 800;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
#main .tp p3{
    color: #fff;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#main .op p1{
    color: red;
    font-size: 20px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}
#main .op p2{
    color: #fff;
    font-weight: 800;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
#main .op p3{
    color: #fff;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#logdot {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}
#logdot .main{
    display: flex;
    gap: 10px;
    position: relative;
    left: 40px;
    color: #FFFFFF;
    background-color: transparent;
} 
#logdot .dots{
    display: flex;
    gap: 40px;
    position: relative;
    left: -60px;
}

#logdot .dots i{
    font-size: 10px;
    color: #fff;
}

@media only screen and (max-width:820px)
{
    .carimg img{
        width: 60%;
        position: relative;
        left: 150px;
        top: 60px;
}
}
@media only screen and (max-width:912px)
{
    .carimg img{
        width: 60%;
        position: relative;
        left: 170px;
        top: 60px;
}
}
@media only screen and (max-width:540px)
{
    .carimg img{
        width: 60%;
        position: relative;
        left: 100px;
        top: 60px;
}
    .heading p{
        font-size: 20px;
    }
    .btn button{
        border-radius: 60px;
        border: 2px solid #fff;
        cursor: pointer;
        width: 150px;
        padding: 5px 26px;
        align-items: center;
        background: var(--gradient-red-gradient-8, linear-gradient(90deg, #CC2B5E 0%, #753A88 100%));
        color: #fff;
        position: relative;
        top: -60px;
    }
    #main{
        position: relative;
        top: -30px;
    }
    #main .tp{
        position: relative;
        left: 10px;
    }
    #main .op{
        position: relative;
        left: -10px;
    }
}

@media only screen and (max-width:414px)
{
    .carimg img{
        position: relative;
        left: 80px;
    }
    #main .tp p1{
        font-size: 14px;
        
    }
    
    #main .tp p2{
        font-size: 12px;
        
    }
    
    #main .tp p3{
        font-size: 10px;
        
    }
    #main .op p1{
        font-size: 14px;
    }
    
    #main .op p2{
        font-size: 12px;
    }
    
    #main .op p3{
        font-size: 10px;
    }

}
@media only screen and (max-width:375px)
{
    .carimg img{
        position: relative;
        left: 60px;
    }
    #logdot{
        padding: 50px  5px;
    }
    #logdot  .main{
       font-size: 12px;
    }
}